/*About Section on Page */

.about {
  text-align: center;
}

.about-title {
  margin-top: 98px;
  font-size: 24px;
  color: #b42d2f;
  font-weight: bold;
}
.about-header-sentence {
  margin-top: 16px;
  max-width: 500px;
  display: inline-block;
  margin-bottom: 48px;
  padding-bottom: 48px;
  font-size: 20px;
  line-height: 30px;
}

.about-image-yuli {
  display: block;
  width: 142px;
  height: 128px;
}

.about-container-one {
  display: flex;
  margin: 50px 20px 0px auto;
}

.about-content-title {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: left;
  font-weight: 600;
}

.human-rights {
  margin-top: 85px;
}

.full-stack {
  margin-top: 443px;
}

.ux-design {
  margin-top: 451px;
}

.about-content-message {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  max-width: 472px;
}

.about-content-title-red {
  font-size: 20px;
  color: #b42d2f;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.about-sidebar {
  width: 200px;
  margin-top: -30px;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
}

.about-sidebar-container {
  display: flex;
  justify-content: center;
}

.line-container {
  width: 20px;
  margin: 0px 62px 0px auto;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  /* justify-content: center; */
  align-items: center;
  color: #979797;
}

.line-one {
  border-left: 1px solid #979797;
  height: 44px;
}

.line-two {
  border-left: 1px solid #979797;
  height: 332px;
}

.line-three {
  border-left: 1px solid #979797;
  height: 355px;
}

/* this line is invisible and is just there to give 
height to a div so the icon above it flexes correctly */
.line-four {
  height: 100px;
}

.oval-icon {
  width: 22px;
  height: 22px;
  margin-bottom: 18px;
}

.travel-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 18px;
}

.ga-icon {
  width: 80px;
  height: 80px;
}

/* Contact Section of Site */

.contact-box-container {
  background-image: url(../images/yuli-river.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 60%;
  min-width: 80%;
  position: relative;
  margin: 60px auto 0px auto;
}

.contact-box {
  background: rgba(255, 255, 255, 0.8);
  width: 500px;
  /* border-radius: 3px; */
  height: 100%;
  position: absolute;
  /* top: 20%; */
  /* left: 5%; */
  max-height: 100%;
  /* height: 312px; */
  filter: brightness(95%);
}

.contact-box-title {
  padding-top: 90px;
  font-size: 20px;
  color: #b42d2f;
  font-weight: bold;
  text-align: left;
  padding-left: 15%;
}

.contact-box-message {
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.85);
  min-width: 340px;
  max-width: 70%;
  margin: 15px auto 0px auto;
  font-size: 20px;
  text-align: left;
  /* padding-top: px; */
}

/* .contact-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  margin: 25px auto 0px auto;
} */

/* .contact-link:hover {
  fill: #b42d2f;
} */

.linkedin-icon {
  height: 25px;
  width: 26px;
  /* display: flex;
  margin-top: 3%; */
  /* padding-left: 15%; */
}

.SocialMediaOne {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin-top: 28px;
  margin-left: 14%;
  font-size: 20px;
  /* color: #b42d2f; */
}

.SocialMediaOne:hover {
  color: #b42d2f;
}

#connect {
  padding-top: 6px;
}

.instagram-icon {
  height: 26px;
  width: 26px;
  display: flex;
  margin-top: 3%;
  padding-left: 15%;
}

.SocialMediaTwo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  margin-top: 22px;
  margin-left: 12%;
  font-size: 20px;
  /* color: #b42d2f; */
}

.SocialMediaTwo:hover {
  color: #b42d2f;
}

#second-paragraph {
  padding-top: 20px;
}

.email-icon {
  height: 27px;
  width: 27px;
  display: flex;
  margin-top: 10%;
  padding-left: 16%;
}

.SocialMediaThree {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  margin-top: 22px;
  margin-left: 13%;
  font-size: 20px;
  /* color: #b42d2f; */
}

.SocialMediaThree:hover {
  color: #b42d2f;
}

/* #second-paragraph {
  padding-top: 20px;
} */

.dont-display {
  display: none;
}

@media (max-width: 650px) {
  .contact-box-container {
    background-image: url(../images/yuli-river.jpg);
    padding-bottom: 335px;
    height: 315px;
    background-size: cover;
  }

  .contact-box {
    width: 390px;
    height: 553px;
    top: 0;
    margin-top: 40px;
    left: 44%;
    margin-left: -175px;
  }

  .contact-box-title {
    padding-top: 90px;
    font-size: 20px;
    color: #b42d2f;
    font-weight: bold;
    text-align: left;
    padding-left: 9.5%;
  }

  .contact-box-message {
    width: 100%;
  }

  .contact-box-title {
    padding-top: 61px;
  }

  .contact-box-message {
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.85);
    min-width: 340px;
    max-width: 70%;
    margin: 15px auto 0px auto;
    font-size: 20px;
    text-align: left;
    padding-left: 7%;
  }

  .SocialMediaOne {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-top: 28px;
    margin-left: 10%;
    font-size: 20px;
    /* color: #b42d2f; */
  }

  .SocialMediaOne:hover {
    color: #b42d2f;
  }

  /* .instagram-icon {
    height: 26px;
    width: 26px;
    display: flex;
    margin-top: 3%;
    padding-left: 0;
  } */

  .SocialMediaTwo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    margin-top: 22px;
    margin-left: 8%;
    font-size: 20px;
    /* color: #b42d2f; */
  }

  .SocialMediaTwo:hover {
    color: #b42d2f;
  }

  #second-paragraph {
    padding-top: 20px;
  }

  /* .email-icon {
    height: 27px;
    width: 27px;
    display: flex;
    margin-top: 10%;
    padding-left: 16%;
  } */

  .SocialMediaThree {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    margin-top: 22px;
    margin-left: 8.5%;
    font-size: 20px;
    /* color: #b42d2f; */
  }

  .SocialMediaThree:hover {
    color: #b42d2f;
  }

  .about {
    text-align: center;
  }
  .about-title {
    margin-top: 98px;
    font-size: 24px;
    color: #b42d2f;
    font-weight: bold;
  }

  .about-header-sentence {
    margin-top: 16px;
    max-width: 458px;
    display: inline-block;
    margin-bottom: 48px;
    width: 304px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: normal;
  }

  .about-image-yuli {
    display: block;
    margin: 0 auto;
    width: 152px;
    height: 138px;
  }

  .about-container-one {
    display: flex;
    margin: 19px 15% 0px auto;
  }

  .about-content-title {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 600;
    margin-top: 10px;
  }

  .about-content-message {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    max-width: 232px;
  }

  .about-content-title-red {
    font-size: 24px;
    color: #b42d2f;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .line-container {
    width: 20px;
    margin: 0px 47px 0px auto;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    color: #979797;
  }

  .line-one {
    border-left: 1px solid #979797;
    height: 51px;
  }

  .line-two {
    border-left: 1px solid #979797;
    height: 455px;
  }

  .line-three {
    border-left: 1px solid #979797;
    height: 515px;
  }

  /* this line is invisible and is just there to give 
height to a div so the icon above it flexes correctly */
  .line-four {
    height: 300px;
  }

  .oval-icon {
    width: 22px;
    height: 22px;
    margin-bottom: 18px;
  }

  .travel-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
  }

  .ga-icon {
    width: 80px;
    height: 80px;
    margin-top: -150px;
  }
}
