.nav {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 16px;
}

.mobile-nav-closed {
  display: none;
}

.active-link {
  color: #b42d2f;
}

.link:hover {
  color: #b42d2f;
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }

  .mobile-nav-closed {
    display: inline-block;
    margin-right: 19px;
    font-weight: 600;
    cursor: pointer;
  }

  .mobile-nav-open {
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.9;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    height: 280px;
    width: 40%;
    text-align: center;
    z-index: 5;
  }

  .mobile-nav-open a {
    color: white;
  }

  .mobile-nav-x {
    margin: 5px auto 33px auto;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }

  .mobile-nav-item {
    margin: 14px auto;
    font-size: 16px;
    opacity: 0.7;
  }

  a {
    font-size: 16px;
  }

  .nav {
    width: 200px;
  }
}
