.portfolio-title {
  margin: 98px auto 80px auto;
  text-align: center;
  color: #b42d2f;
  font-size: 30px;
  font-weight: bold;
}

.portfolio-projects {
  margin: 0px 94px 35px 94px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .portfolio-title {
    margin: 69px auto 53px auto;
    font-size: 24px;
  }

  .portfolio-projects {
    margin: 0px 0px 35px 0px;
  }
}
