.project-label {
  font-size: 20px;
  font-weight: 630;
  margin-left: 21px;
  margin-top: 35px;
}

.project-card {
  height: 480px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
  margin: 0px 25px 50px 25px;
  position: relative;
  border-radius: 3px;
  box-shadow: 3px 2px 6px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #e9ecef;
}

.project-image {
  height: 260px;
  width: 100%;
}

.project-description {
  font-size: 20px;
  font-weight: normal;
  margin: 10px 21px 0px 21px;
  line-height: 30px;
}

.project-link {
  /* color: #b42d2f; */
  color: #0057ff;
  font-size: 20px;
  font-weight: 600;
  /* margin-left: 280px; */
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.project-link:hover {
  color: #b42d2f;
  /* color: #0057ff; */
}

.project-link::after {
  content: "";
  width: 80%;
  height: 1px;
  /* background: #b42d2f; */
  /* background: #0057ff; */
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
}

@media (max-width: 650px) {
  .project-card {
    max-width: 600px;
    height: 480px;
    margin: 10px;
  }
  .project-link {
    margin: 0;
  }
  .project-label {
    margin-left: 10px;
  }
  .project-description {
    margin: 15px 10px 10px 10px;
  }
  .project-image {
    max-width: 400px;
  }
}
